* {
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    font-family: Avenir;
    user-select: none;
}

html, body {
    padding: 0;
    margin: 0;
    background: #efefef;
}

svg g {
    cursor: pointer;
}

svg g.ondrag {
    pointer-events: none;
}

svg g.node.animate g {
    opacity: 0;
    transform: scale(0.5);
    animation: 0.1s reset forwards linear;
}

@keyframes reset {
    to {
        opacity: 1;
        transform: none;
    }
}

svg g circle {
    cx: 0;
    cy: 0;
    r: 40;
    stroke: black;
    stroke-width: 2;
    fill: white;
}


svg g path {
    fill: #7adc9b;
    stroke-width: 2;
    stroke: black;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

svg g path:nth-of-type(1){ d: path("M 0 0 L -28.2843 -28.2843 Q 0 -53 28.2843 -28.2843 Z"); }
svg g path:nth-of-type(2){ d: path("M 0 0 L 28.2843 -28.2843 Q 53 0 28.2843 28.2843 Z"); }
svg g path:nth-of-type(3){ d: path("M 0 0 L 28.2843 28.2843 Q 0 53 -28.2843 28.2843 Z"); }
svg g path:nth-of-type(4){ d: path("M 0 0 L -28.2843 28.2843 Q -53 0 -28.2843 -28.2843 Z"); }

svg g path:hover{
    fill: black;
}

svg g path:hover + text {
    stroke: white;
}

svg g path[data-connect="1"],
svg g path[data-connect="1"]:hover{
    fill: white;
}

svg g path[data-connect="1"]:hover + text {
    stroke: black;
}

svg g text {
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    stroke: black;

    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    transition: 0.2s;
}

svg g text:nth-of-type(1) { transform: translateY(-24px)}
svg g text:nth-of-type(2) { transform: translateX(24px)}
svg g text:nth-of-type(3) { transform: translateY(24px)}
svg g text:nth-of-type(4) { transform: translateX(-24px)}

svg g.active path,
svg g.active text {
    visibility: visible;
    opacity: 1;
}

svg line {
    stroke: black;
    stroke-width: 2;
    /*stroke-dasharray: 0, 10000;*/
    /*transition: 0.5s all;*/
}
