*{
	/*box-sizing:border-box;*/
	font-family:Raleway;
}
body,html{
	width:100%;
	height:100%;
	padding:0px;
	background: linear-gradient(#1B8C9E,#8BB7A8);
	margin:0px;
	overflow:hidden;
	transition:0.5s all;
}
.container{
	width:100%;
	height:100%;
	perspective: 10000px;
}

.block{
	left:50%;
	top:30%;
	width:300px;
	height:300px;
	background:#FFFF31;
	transform:rotateX(45deg) rotateZ(45deg);
	position: absolute;
	transform-style:preserve-3d;
	transform-origin:0px 0px;
}
/*.block:nth-child(2){
	width:100px;
	transform:rotateX(45deg) rotateZ(45deg) translateZ(35px);
}*/

.block:last-child::after{
	position:absolute;
	border:5px solid rgba(255,255,255,0.4);
	content: '';
	animation:after 0.5s infinite alternate linear;
}
.block:last-child::before{
	position:absolute;
	border:2px solid rgba(255,255,255,0.2);
	content: '';
	animation:before 0.5s infinite alternate linear;
}

@keyframes after{
	0%{
		top:-10px;
		left:-10px;
		width:calc(100% + 20px);
		height:calc(100% + 20px);
	}
	100%{
		top:-50px;
		left:-50px;
		width:calc(100% + 100px);
		height:calc(100% + 100px);
	}
}
@keyframes before{
	0%{
		top:-50px;
		left:-50px;
		width:calc(100% + 100px);
		height:calc(100% + 100px);
	}
	100%{
		top:-90px;
		left:-90px;
		width:calc(100% + 180px);
		height:calc(100% + 180px);
	}
}
.block .after{
	position:absolute;
	width:30px;
	height:100%;
	background:#D5BC21;
	left:100%;
	top:0px;
	transform:rotateY(90deg);
	transform-origin:0px 0px;
}
.block .before{
	position:absolute;
	height:30px;
	width:100%;
	background:#B39F1C;
	left:0px;
	top:100%;
	transform:rotateX(-90deg);
	transform-origin:0px 0px;
}
.block.perfect:nth-last-child(2){
	border:8px solid white;
}



.top{
	position:fixed;
	color:white;
	top:50%;
	left:200px;
	transform:translateY(-50%);
	font-size:4em;
	z-index:100;
	text-align:center;
}
.top h1{
	font-size:0.3em;
	font-weight:normal;
}

.over{
	position:fixed;
	color:white;
	right:200px;
	z-index:100;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	visibility:hidden;
	opacity:0;
	transition:1s all;
}
.over.active{
	visibility:visible;
	opacity:1;
}
.over h1{
	font-size:1.3em;
	margin:0px;
}

button{
	background:none;
	margin-top:10px;
	border-radius:1000px;
	text-transform:uppercase;
	padding:10px 30px;
	color:white;
	border:1px solid white;
	transition:0.5s all;
	cursor:pointer;
}
button:hover{
	background:white;
	color:black;
}